.page-header-standard {
  text-align: center;
  padding-top: 4rem;
}

.page-header-standard h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 950;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .page-header-standard {
    margin-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  .page-header-standard {
    padding-top: 2rem;
  }

  .page-header-standard h1 {
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
}